.inProgress-container {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  margin-right: 25px;
  margin-top: 15px;
  text-align: center;
}

.header-details {
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px , rgba(0, 0, 0, 0.23) 0 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 55px;
  margin-top: 25px;
  width: 250px;
}

.details-image-container {
  align-items: center;
  background-color: rgb(242, 237, 214);
  border-radius: 10px 10px 0 0;
  display: flex;
  height: 120px;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 250px;
}

.header-details-btns-container {
  background-color: rgb(249, 247, 242);
  border: none;
}

.header-title-container {
  align-items: center;
  background-color: rgb(249, 247, 242);
  border-radius: 0 0 10px 10px;
  color: brown;
  display: flex;
  justify-content: center;
  width: 250px;
}

.details-img {
  object-fit: cover;
  width: 100%;
}

.done-recipe-menu-container {
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  width: 360px;
}

.done-recipe-menu-container button {
  background-color: bisque;
  border: none;
  margin-top: 10px;
  width: 120px;
}

.done-recipe-menu-container button:hover {
  color: brown;
}
