.details-container {
  /* align-items: center; */
  background-color: bisque;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.header-details {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px , rgba(0, 0, 0, 0.23) 0 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.details-image-container {
  align-items: center;
  background-color: rgb(242, 237, 214);
  border-radius: 10px 10px 0 0;
  display: flex;
  height: 120px;
  overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 250px;
}

.details-img {
  object-fit: cover;
  width: 100%;
}

.header-title-conainer {
  align-items: center;
  background-color: rgb(249, 247, 242);
  border-radius: 0 0 10px 10px;
  color: brown;
  display: flex;
  justify-content: center;
  width: 250px;
}

.header-title-conainer span {
  display: flex;
  justify-content: center;
}

.header-details-btns-container {
  margin: 10px;
  padding: 10px;
}

.header-details-btns-container button {
  background-color: rgb(249, 247, 242);
  border: none;
}

/* .header-details h3 {
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  height: 50px;
  text-align: center;
  width: 130px;
} */

/* .header-details p {
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  height: 50px;
  text-align: center;
  width: 130px;
} */

.recomended-card-container {
  display: flex;
  flex-flow: column wrap;
  max-height: 200px;
  overflow-x: scroll;
}

.recomended-card {
  align-items: center;
  background-color: bisque;
  color: brown;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 181px;
}

.recomended-card img {
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  max-width: 110px;
  width: 160px;

}

.btn-start-recipe {
  background-color: rgb(108, 203, 108);
  border: none;
  bottom: 0;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  font-size: 1.2rem;
  font-style: oblique;
  justify-content: center;
  padding: 10px;
  position: fixed;
  width: 360px;
}

::-webkit-scrollbar {
  display: none;
}
