.container {
  background-color: burlywood;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  max-width: 340px;
  position: fixed;
}

.container button {
  background-color: burlywood;
  border: none;
}

img {
  max-height: 100px;
  max-width: 120px;
}
