.search-menu{
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  width: 340px;
}

.filter-container{
  padding: 3px;
  margin: 3px; 
}

.search-menu label{
  padding: 2px;
  margin: 2px;
}

.search-input{
  padding: 3px;
  margin: 3px;
}